*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;  
}
.navbar{
    background-color: rgba(9, 3, 27, 0.973);
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  a{
      text-decoration: none;
      color: inherit;
      float: left;
      padding: 20px;
      
  }
  .navbar li{
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    list-style-type: none;
    float: right;
  }
 
  .navbar li:hover{
    transform: scale(1.03);
    color: coral;
  }
  .navbar .logo{
    text-decoration: none;
    color: coral;
    font-size: 75px;
    font-weight: 900;
    font-style: <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">;
    font-family: font-family: 'Poppins', sans-serif;
    padding: 30px;
    }
    
  .container{
      text-align: center;
    }
  .centered{
      position: absolute;
      top: 50%;
      left: 50%;
      color: rgb(11, 11, 53);
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-style: oblique;
      font-weight: 900;
      
  }
  .button{
     position: absolute;
     font-size: 15px;
     font-style: initial;
     background-color: rgb(12, 12, 41);
     color: rgb(255, 255, 255);
     padding: 10px 15px;
     margin: 20px -50px;
     border-radius: 5px;
  }
  .button:hover{
    transform: scale(1.03);
    background-color: coral;
    
}
  
  .services .cardRow{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-between; 
    padding: 50px 100px;
}
.services .cardRow .card{
    box-shadow: 0px 0px 2px rgb(20, 13, 46);
    padding:20px;
    margin:8px;
    transition:in all 0.1s ease-in-out;
}
.services .cardRow .card .cardIcon span{
    font-size:50px;
}
.services .cardRow .card .cardTitle{
    font-size: 30px;
    font-weight:600;
    text-align:center;
    margin-bottom:10px;
    color:rgb(20, 14, 44);
}
.services .cardRow .card .cardContent{
    text-align: center;
    color:rgb(17, 8, 32);
    font-size: 20px;
    
}
.services .title{
    font-size: 50px;
    font-weight:600;
    text-align:center;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.services .cardRow .card:hover{
    transform:scale(1.03);
}
.services .cardRow .card .cardIcon{
    display:flex;
    align-items: center;
    justify-content: center;
    transition:in all 0.1s ease-in-out;
    padding:20px;
}
.services .cardRow .card .cardIcon:hover{
    color: coral;
}

.booking{
    background-color: rgb(8, 7, 37);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight:600;
    font-size: 20px;
    width: 100%;
    height: 20vh;
    
    
}

.booking .btn{
    
    position: absolute;
    font-size: 15px;
    font-style: initial;
    background-color: coral;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin: 20px -50px;
    border-radius: 5px;
    transition: in all 0.1s ease-in-out;
}
.btn:hover{
    transform: scale(1.03);
    color: rgb(8, 7, 37);
    }
    @media only screen and (max-width:700px){
        
    }
